ansible/nodered/flows.json
[
    {
        "id": "a4326ed740f19f05",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7dde91bc6803a4bd",
        "type": "inject",
        "z": "a4326ed740f19f05",
        "name": "5 min trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "0dcf99e15173f9b7",
                "1000a689dbac1827",
                "ae76fe5f1798e6b1"
            ]
        ]
    },
    {
        "id": "dd1507f9e25a16a4",
        "type": "debug",
        "z": "a4326ed740f19f05",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "0fb2ea76dadf8ae9",
        "type": "debug",
        "z": "a4326ed740f19f05",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "ffc3e7c3bbefd059",
        "type": "debug",
        "z": "a4326ed740f19f05",
        "name": "return code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "0dcf99e15173f9b7",
        "type": "exec",
        "z": "a4326ed740f19f05",
        "command": "cd solar && python weather.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "dd1507f9e25a16a4"
            ],
            [
                "0fb2ea76dadf8ae9"
            ],
            [
                "ffc3e7c3bbefd059"
            ]
        ]
    },
    {
        "id": "1000a689dbac1827",
        "type": "exec",
        "z": "a4326ed740f19f05",
        "command": "cd solar && python sun_position.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "dd1507f9e25a16a4"
            ],
            [
                "0fb2ea76dadf8ae9"
            ],
            [
                "ffc3e7c3bbefd059"
            ]
        ]
    },
    {
        "id": "8257ab5df7db6b71",
        "type": "exec",
        "z": "a4326ed740f19f05",
        "command": "cd solar && python sofar.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "dd1507f9e25a16a4"
            ],
            [
                "0fb2ea76dadf8ae9"
            ],
            [
                "ffc3e7c3bbefd059"
            ]
        ]
    },
    {
        "id": "b45fa6e4a229b9fa",
        "type": "inject",
        "z": "a4326ed740f19f05",
        "name": "1 min trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "8257ab5df7db6b71",
                "6ada48718ce91a40"
            ]
        ]
    },
    {
        "id": "ae76fe5f1798e6b1",
        "type": "exec",
        "z": "a4326ed740f19f05",
        "command": "cd solar && python weather2.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "dd1507f9e25a16a4"
            ],
            [
                "0fb2ea76dadf8ae9"
            ],
            [
                "ffc3e7c3bbefd059"
            ]
        ]
    },
    {
        "id": "5965ba6e06954af2",
        "type": "inject",
        "z": "a4326ed740f19f05",
        "name": "backup trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "31e5095761c8dcb9"
            ]
        ]
    },
    {
        "id": "31e5095761c8dcb9",
        "type": "exec",
        "z": "a4326ed740f19f05",
        "command": "sudo cp /home/thomasboltze/solar/db/development.sqlite /mnt/backups/`date +%F`.sqlite",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "backup sqlite",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "dd1507f9e25a16a4"
            ],
            [
                "0fb2ea76dadf8ae9"
            ],
            [
                "ffc3e7c3bbefd059"
            ]
        ]
    },
    {
        "id": "6ada48718ce91a40",
        "type": "exec",
        "z": "a4326ed740f19f05",
        "command": "cd solar && python neohub.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "dd1507f9e25a16a4"
            ],
            [
                "0fb2ea76dadf8ae9"
            ],
            [
                "ffc3e7c3bbefd059"
            ]
        ]
    }
]